<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
        
    </head>
    <body>
        <div class="main-content">
              {{>header}}
              <p>This site was created by chief ibibo. it uses data from weather stack and mapbox</p>
            <img class="potrait" src="/img/robot.png">
        </div>
      
        {{>footer}}
    </body>
</html>